#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.full-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  height: 70vh;
  position: sticky;
  background-color: #0783ff;
  /* padding: 20px;
  margin: 20px; */
  border: 1px solid;
}

/* ImgSlide styles */
.img-slide-container {
  width: 100%;
  margin: 0 auto;
}

.img-slide-frame {
  width: 100%;
  height: 85vh;
  /* Chiều cao cố định */
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.img-slide-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.img-slide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Đảm bảo hình ảnh fit đầy khung */
  transition: transform 0.6s ease;
  opacity: 0;
}

.img-slide-image.active {
  opacity: 1;
}

/* Disable button styles when animating */
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.footer-poster {
  width: 100%;
  height: 40vh;
  background-image: url('https://www.shutterstock.com/image-vector/white-plane-blue-sky-flying-260nw-2338724223.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 70%;
}

.info {
  width: 60%;
}

.ticket-price {
  width: 40%;
  margin-left: 3%;
}

.flight-list,.ticket-list {
  max-height: 80vh;
  overflow-y: auto;
}

/* Thanh cuộn tổng */
.flight-list::-webkit-scrollbar,.ticket-list::-webkit-scrollbar {
  width: 10px; /* độ rộng thanh cuộn dọc */
}

/* Track (nền phía sau) */
.flight-list::-webkit-scrollbar-track,.ticket-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

/* Thumb (phần kéo được) */
.flight-list::-webkit-scrollbar-thumb,.ticket-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
  border: 2px solid #f1f1f1; /* tạo khoảng cách giữa thumb và track */
}

/* Hover */
.flight-list::-webkit-scrollbar-thumb:hover,.ticket-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* .price-tag {
  width: 100%;
  min-width: 150px;
  max-width: 200px;
  min-height: 150px;
  height: 100%;
  position: fixed;

} */

